In [2]:
import json
import glob
import uuid
from datetime import datetime
import string
import re
import os

import nltk

from nltk.tokenize import word_tokenize, TreebankWordTokenizer
from nltk.corpus import stopwords

import pandas as pd
import clickhouse_connect

nltk.download(['punkt_tab', 'stopwords'])

[nltk_data] Downloading package punkt_tab to /root/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [3]:
os.environ['CLICKHOUSE_PASSWORD'] = 'password1'
client = clickhouse_connect.get_client(host='clickhouse', username='admin', password=os.environ['CLICKHOUSE_PASSWORD'])

In [4]:
result = client.query_np("SELECT source_path FROM warehouse.dim_sources;")

In [5]:
list(result)

[]

In [6]:
json_paths = glob.glob('data/texts/*.json')

In [ ]:
aaa = set(json_paths) - set(list(result))

aaa = list(aaa)

In [12]:
aaa = set(json_paths) - set(list(aaa))

aaa = list(aaa)

aaa

[]

In [13]:
def split_list_into_chunks(input_list, chunk_size):

    list_range = range(0, len(input_list), chunk_size)

    result = [input_list[i:i + chunk_size] for i in list_range]

    return result


split_list = split_list_into_chunks(input_list=json_paths, chunk_size=100)

os.environ['JSON_PATHS'] = str(split_list[0])

In [14]:
split_list_into_chunks(input_list=aaa, chunk_size=100)

[]

In [12]:
str(split_list[0])

"['data/texts/5185cc6c24e349da754b85730e644adc75e33b4f.json', 'data/texts/445e238d5f61f0b7887a662d52901ce6b78ef638.json', 'data/texts/c603c3a4182b1ad40a7eee6150257ccf39e4cc93.json', 'data/texts/79f70053f0e8a6194a348a3bff08eaa129e66e9c.json', 'data/texts/866b09f50a2bd83df19fd323207a0687487cd3d0.json', 'data/texts/8b06dd73e9442e8013bc6927b1c849be96f5fd1f.json', 'data/texts/c00e185d8acf42d35134f0f1cc159c5f9ec39433.json', 'data/texts/8fac2b0a4bef7e7b2661ef57672ef00a29877d7a.json', 'data/texts/f7d3e1e677e7c9343be0b9310d316efc8350ad24.json', 'data/texts/7ef4718ae4d9acec09bdf2baa33fe80f0e1f45f2.json', 'data/texts/de7f347051bd699974f432451086ab600d7e38e0.json', 'data/texts/d885c661a7b3bbfa2ff654b2eba8005219ecc9ce.json', 'data/texts/f88ff2eb02047b5590b1a8829bd2eb8ede01c57b.json', 'data/texts/4b357ef3ea1215ba9e99fd28fa25b495a0033206.json', 'data/texts/7bef0d5beedff1d08936770bedbdbcfb6e0fd278.json', 'data/texts/e5c961634e9ba28fff0fcd7ddb6af9107c6489ba.json', 'data/texts/4cc99f86539fffc92bc36b9f67dc3380ff5a9611.json', 'data/texts/3b8d54009b139292131839ceef015f7938177fdd.json', 'data/texts/fe757e2373867ff4bd6e72cae25b360487dd12be.json', 'data/texts/07c743a88e8bd94bf9ffa34561d274b8083af41f.json', 'data/texts/215a95bfc34a35844fe8ba3a0eb06e28216254e7.json', 'data/texts/0d247c76b8fdb8d0a23051b44abe2b67be1b0f20.json', 'data/texts/8c096b6aa1e6b2caf4248a7957903434e6058d73.json', 'data/texts/eed526d028d2ae37dc7a4923031209c0b244d1d9.json', 'data/texts/807beab09723aba39c8f165b454818d4dbf56e7c.json', 'data/texts/b52f9420eeeb31dce43ffe285adf59ceadf4ae87.json', 'data/texts/178131804c3f605896e9f668e6b50ad49f549ed2.json', 'data/texts/d0143420ec0872cfced069c1a527e591bd4e6016.json', 'data/texts/33af602c4a72b7a0b6ace3366577c07daecb4399.json', 'data/texts/27efe6e57656eb749b205325d965d86374de4475.json', 'data/texts/93fc1f2a95a2d7377aaed5823427ab41d1c7c772.json', 'data/texts/824633ec0d94e0f3e3df9999a7e545600f751b1b.json', 'data/texts/4bed09cceaa9ca5b8181faaa4f1e2d992cbd9419.json', 'data/texts/4c45394e56377e8eee7285909dc0de1cd0a33b22.json', 'data/texts/682162032b8e0c336971233035024e355de659a2.json', 'data/texts/74ffcbb229a38050b96a973b1e94579a47daa2b5.json', 'data/texts/5efc3b91328e0d81a9e76a6ca57676b5ec84539f.json', 'data/texts/523e835d5194a51d8d01c37eb675ac932b5d88ba.json', 'data/texts/2b33217727845480651b47603f2c2d9d1ba058a9.json', 'data/texts/ef4c8feda8286f042842628570fc71c388a62d99.json', 'data/texts/f9d5893e815dd193d56e8e03935cc4b065f0bbe5.json', 'data/texts/20d11d3108dbbf2ebd445e62c67024ea3cb3055d.json', 'data/texts/b2d4f350ad2a4232df1cfc1491a67d06bfec467a.json', 'data/texts/aa90d0d215cf531fafe7226f4c57863cd5e2be31.json', 'data/texts/3e448c5ec03649f7302d603a3055f51c40ba9446.json', 'data/texts/55ea5c854422d95304e3321e338c7fc481161e4c.json', 'data/texts/e3ddda914f5d3b989adf7a240ad19d532e7a802d.json', 'data/texts/4ed670aff13336b12042209bcff802b057cbe440.json', 'data/texts/cb7486629eec021de853336beb21d2c6e15d451d.json', 'data/texts/a7e4a3905f2e1c0a49c9f29e33be7467244c7630.json', 'data/texts/6a6eb011aa568baaf143c0769b357ac448068d15.json', 'data/texts/905538915e0893d9d6a2a741e4880429d91dfb92.json', 'data/texts/397602ba961a65e4669aa82339906f7b130fb2d3.json', 'data/texts/137a6d0ab69d7999540d2b903ffe9e735b6a8ea3.json', 'data/texts/1ea4059314b9f5e3033f4b928932bdf65f02d5c8.json', 'data/texts/e192d71076bd5a6ff1db45b6892eca639c632540.json', 'data/texts/e17b231549fbacd59b4f64c47a7c9a442088b955.json', 'data/texts/6fa8808947311ab2cb090bf4789b4bd34f43cfd1.json', 'data/texts/4de56fe7871754f5992a4c51fcd414a3f12d3cbf.json', 'data/texts/bd3a3eba28527a0c4d9c31c3de651c7d0a7415dd.json', 'data/texts/5bec34dbba35186fc4a30f88656f331855ad7a96.json', 'data/texts/33cc8dd7080f05c1aac8ac7d81342fca972fb542.json', 'data/texts/709d6568ae035793971bd169a28f4dd69e215d02.json', 'data/texts/7702b4f253cad23e3e56985110093616691a19ba.json', 'data/texts/912c05d9fe7550d3f585fa9ff7150c8e716aba32.json', 'data/texts/e5af39daa1913496743a65e93174020ed21c004f.json', 'data/texts/84cefbb93d3efd1e99432c6ff0d24da1c03cf0ae.json', 'data/texts/065ca750eec9bba997f9690d5c323856d95e296c.json', 'data/texts/8f3e053930f8e33413565f87dd81ee9607505c27.json', 'data/texts/c66b8188388c695b8e0bd625aa336d597b147734.json', 'data/texts/bcef7423e81b5b74a990e627cecd39ac69330012.json', 'data/texts/43d7a1515d3177d2876a16a51e1f97330a6fe5bc.json', 'data/texts/45ae3ad696baa2268f92918e5be501305f068255.json', 'data/texts/30e27abc2518ee43bf0644369c4cf8afd5f70a39.json', 'data/texts/bb7d62ffae05a72ff7aa6c4da203126b5e0bed90.json', 'data/texts/79157f9d5070297918e06863518c2949cc7b171b.json', 'data/texts/04259dc18ce2b1976f7b016c2ad5ecb410483951.json', 'data/texts/eedf49f7d7b8f029a09a4d7bdf9f252b5d1042c4.json', 'data/texts/bb5f0eb5158625cf0147ea30a19129dc613e087f.json', 'data/texts/609bdab09758d73ea9a124c3ca9f3e437185c658.json', 'data/texts/76a8e3f7ee0cda2a2db821522df006ff218d1d94.json', 'data/texts/f72a33c835a28243b039063d8d1edfc48c7bad82.json', 'data/texts/f23c78aa0fa9f7d6e94f28647ff378d3bbb10eec.json', 'data/texts/3d22dc978cde8670d6c2f30af1965c7e248ee3f2.json', 'data/texts/782336297f30546fc1704868b800d23399af7911.json', 'data/texts/fed48e52006f2c743e3c649aa7f2b467fb623235.json', 'data/texts/846c46dc5bba4e5f7c8ed1a6bfa0c55441243ba9.json', 'data/texts/ad4e1596434b8b0976f6fb5bc545780dd3b815cc.json', 'data/texts/441c7ae3175efc3a656da5280e3b21dfc4302533.json', 'data/texts/ea7940839d329b09e9641557cbab409d990864c7.json', 'data/texts/c5a05b069782b66c13032339d18a5ea8e2a87899.json', 'data/texts/42fb67d509c79559f7f008c5ef82502d80970bdf.json', 'data/texts/b3e9e2ab4effcb5f9441e5901cc32f55f05eb2a9.json', 'data/texts/a188f6439ca703eb9362946275c5ce314dc21ab5.json', 'data/texts/2f4a8f738576a6b71307e4bc56dcb8d14ffaab25.json', 'data/texts/f413dec5868f02d144ed7fce7991c0b53ed955f2.json', 'data/texts/6e03274e6a4669f2904441ac0cc76a27b65b7238.json', 'data/texts/da931092f0769c22db07800b512815710c09de27.json', 'data/texts/d450ed2ca232d0c745d2d9b0a2b9da47549a68e3.json', 'data/texts/a0372ea06988ce2cfe6ce6f59c37b7f5b5877b01.json']"

In [9]:
from ast import literal_eval

abc = literal_eval(os.environ['JSON_PATHS'])

type(abc)

list

In [6]:
def get_raw_texts(json_paths):
    result = []

    for path in json_paths:
        with open(path, 'r') as json_file:
            json_data = json.load(json_file)

        json_data['source_path'] = path

        json_data['source_id'] = str(uuid.uuid4())

        result.append(json_data)
    
    return result

raw_texts = get_raw_texts(json_paths=split_list[0])

raw_texts[:2]

[{'id': '5185cc6c24e349da754b85730e644adc75e33b4f',
  'text': '  You must have a new husband in your bed, to father children on you.    Three children is quite sufficient. I am Queen of the Seven Kingdoms, not a brood mare! The Queen Regent!    You are my daughter, and will do as I command.   She stood.  I will not sit here and listen to this—    You will if you wish to have any voice in the choice of your next husband,  Lord Tywin said calmly.  When she hesitated, then sat, Tyrion knew she was lost, despite her loud declaration of,  I will not marry again!    You will marry and you will breed. Every child you birth makes Stannis more a liar.  Their father’s eyes seemed to pin her to her chair.  Mace Tyrell, Paxter Redwyne, and Doran Martell are wed to younger women likely to outlive them. Balon Greyjoy’s wife is elderly and failing, but such a match would commit us to an alliance with the Iron Islands, and I am still uncertain whether that would be our wisest course.    No,  Cersei said from between white lips.  No, no, no.   Tyrion could not quite suppress the grin that came to his lips at the thought of packing his sister off to Pyke. Just when I was about to give up praying, some sweet god gives me this.  Lord Tywin went on.  Oberyn Martell might suit, but the Tyrells would take that very ill. So we must look to the sons. I assume you do not object to wedding a man younger than yourself?    I object to wedding any—    I have considered the Redwyne twins, Theon Greyjoy, Quentyn Martell, and a number of others. But our alliance with Highgarden was the sword that broke Stannis. It should be tempered and made stronger. Ser Loras has taken the white and Ser Garlan is wed to one of the Fossoways, but there remains the eldest son, the boy they scheme to wed to Sansa Stark.   Willas Tyrell. Tyrion was taking a wicked pleasure in Cersei’s helpless fury.  That would be the cripple,  he said.  Their father chilled him with a look.  Willas is heir to Highgarden, and by all reports a mild and courtly young man, fond of reading books and looking at the stars. He has a passion for breeding animals as well, and owns the finest hounds, hawks, and horses in the Seven Kingdoms.   A perfect match, mused Tyrion. Cersei also has a passion for breeding. He pitied poor Willas Tyrell, and did not know whether he wanted to laugh at his sister or weep for her.   The Tyrell heir would be my choice,  Lord Tywin concluded,  but if you would prefer another, I will hear your reasons.    That is so very kind of you, Father,  Cersei said with icy courtesy.  It is such a difficult choice you give me. Who would I sooner take to bed, the old squid or the crippled dog boy? I shall need a few days to consider. Do I have your leave to go?   You are the queen, Tyrion wanted to tell her. He ought to be begging leave of you.   Go,  their father said.  We shall talk again after you have composed yourself. Remember your duty.   Cersei swept stiffly from the room, her rage plain to see. Yet in the end she will do as Father bid. She had proved that with Robert. Though there is Jaime to consider. Their brother had been much younger when Cersei wed the first time; he might not acquiesce to a second marriage quite so easily. The unfortunate Willas Tyrell was like to contract a sudden fatal case of sword-through-bowels, which could rather sour the alliance between Highgarden and Casterly Rock. I should say something, but what? Pardon me, Father, but it’s our brother she wants to marry?   Tyrion.   He gave a resigned smile.  Do I hear the herald summoning me to the lists?    Your whoring is a weakness in you,  Lord Tywin said without preamble,  but perhaps some share of the blame is mine. Since you stand no taller than a boy, I have found it easy to forget that you are in truth a man grown, with all of a man’s baser needs. It is past time you were wed.   I was wed, or have you forgotten? Tyrion’s mouth twisted, and the noise emerged that was half laugh and half snarl.   Does the prospect of marriage amuse you?    Only imagining what a bugger-all handsome bridegroom I’ll make.  A wife might be the very thing he needed. If she brought him lands and a keep, it would give him a place in the world apart from Joffrey’s court… and away from Cersei and their father.  On the other hand, there was Shae. She will not like this, for all she swears that she is content to be my whore.  That was scarcely a point to sway his father, however, so Tyrion squirmed higher in his seat and said,  You mean to wed me to Sansa Stark. But won’t the Tyrells take the match as an affront, if they have designs on the girl?    Lord Tyrell will not broach the matter of the Stark girl until after Joffrey’s wedding. If Sansa is wed before that, how can he take offense, when he gave us no hint of his intentions?    Quite so,  said Ser Kevan,  and any lingering resentments should be soothed by the offer of Cersei for his Willas.   Tyrion rubbed at the raw stub of his nose. The scar tissue itched abominably sometimes.  His Grace the royal pustule has made Sansa’s life a misery since the day her father died, and now that she is finally rid of Joffrey you propose to marry her to me.',
  'source_path': 'data/texts/5185cc6c24e349da754b85730e644adc75e33b4f.json',
  'source_id': 'f50b6f67-67c4-407b-bc7a-78a31244cd95'},
 {'id': '445e238d5f61f0b7887a662d52901ce6b78ef638',
  'text': " There were  toys the like  of which they had  never seen before, all beautiful and  some  obviously magical.  Many of them had indeed been ordered a year before,  and  had  come  all  the way  from  the Mountain and from Dale, and  were of real  dwarf-make.       When  every guest had been  welcomed  and was finally inside the  gate,    ####-there were  songs, dances, music, games,  and,  of course,  food  and drink.  There were  three  official  meals: lunch,  tea, and dinner (or supper). But  lunch and  tea were marked chiefly by  the fact that at  those times all the  guests  were sitting  down and eating together. At  other  times  there were  merely lots  of  people  eating and drinking  -  continuously from elevenses  until six-thirty, when the fireworks  started.       The fireworks were by Gandalf: they were not only brought  by  him, but  designed and made by  him; and the  special effects, set pieces, and flights  of rockets were let off by him. But  there was  also a generous distribution  of  squibs,  crackers,  backarappers,   sparklers,  torches,  dwarf-candles,   elf-fountains, goblin-barkers  and thunder -claps. They  were all superb. The  art of Gandalf improved with age.       There were  rockets like  a flight  of scintillating birds singing with  sweet voices. There were green trees with trunks of dark smoke: their leaves   opened like a whole spring unfolding in a moment, and their shining branches  dropped glowing flowers down upon the  astonished hobbits, disappearing with  a  sweet  scent just  before they touched  their  upturned faces. There were  fountains  of butterflies that flew  glittering into  the trees;  there were  pillars  of  coloured  fires that rose  and  turned into eagles, or  sailing  ships,  or  a  phalanx of flying swans; there was a red  thunderstorm  and a   shower  of  yellow  rain; there was a  forest  of silver spears  that sprang  suddenly  into the  air with a  yell like an embattled  army, and came  down  again into the Water with a hiss like a  hundred hot snakes.  And there  was  also one last surprise,  in  honour of Bilbo,  and  it startled  the hobbits  exceedingly, as  Gandalf intended. The lights went out. A great  smoke  went  up. It shaped itself like a mountain seen in the distance, and began to glow  at  the summit. It spouted green  and scarlet flames. Out flew a  red-golden  dragon - not life-size, but terribly life-like: fire came from his jaws, his  eyes glared down; there  was  a  roar, and he whizzed three  times  over the  heads of the crowd. They all ducked, and  many fell fla t on their faces. The  dragon passed like an  express train,  turned a  somersault, and  burst over   Bywater with a deafening explosion.       'That is  the  signal for  supper!'  said  Bilbo.  The  pain  and alarm  vanished at once, and the prostrate hobbits  leaped to their feet. There  was  a splendid supper for everyone; for everyone, that  is, except those invited  to the special family dinner -party. This was held in the great pavilion with  the tree. The invitations were limited to twelve dozen (a number also called   ####-by the hobbits one Gross, though  the  word was not considered proper to use  of people); and  the  guests were selected  from  all  the families to which  Bilbo and Frodo were related, with  the addition of a  few special unrelated  friends (such as Gandalf). Many young hobbits  were included, and present by  parental permission; for hobbits were easy-going with their children in  the  matter  of  sitting up late,  especially when there  was a chance of getting  them a free meal. Bringing up young hobbits took a lot of provender.       There  were  many  Bagginses  and  Boffins,  and also  many  Tooks  and  Brandybucks;  there  were  various  Grubbs   (relations  of  Bilbo  Baggins'  grandmother), and various Chubbs (connexions of his Took grandfather); and a  selection  of  Burrowses,  Bolgers, Bracegirdles,  Brockhouses,  Goodbodies,  Hornblowers and Proudfoots. Some of these were only very distantly  connected  with Bilbo, and  some of them  had hardly ever  been in Hobbiton before,  as  they lived in remote corners of the Shire. The Sackville-Bagginses  were not  forgotten.  Otho and his wife Lobelia were present. They disliked Bilbo  and  detested Frodo,  but  so magnificent  was the invitation  card,  written  in  golden ink, that  they had felt it was impossible to refuse. Besides,  their  cousin, Bilbo, had been specializing  in  food for many years and  his table  had a high reputation.       All  the  one hundred  and forty-four guests expected a pleasant feast;  though they  rather  dreaded  the  after -dinner  speech  of their  host  (an  inevitable item). He was liable to drag  in bits of  what he  called poetry;  and sometimes, after  a glass or two, would  allude to the absurd adventures  of his mysterious journey. The guests were not disappointed: they had a very  pleasant feast, in fact an engrossing entertainment: rich, abundant, varied,  and prolonged.",
  'source_path': 'data/texts/445e238d5f61f0b7887a662d52901ce6b78ef638.json',
  'source_id': '906123b4-690a-47b3-8ba8-de7d7dfb4f0c'}]

In [7]:
def create_dim_sources(raw_inputs):

    dim_sources = pd.DataFrame().from_records(raw_inputs)

    dim_sources.rename(columns={'id': 'source_title'}, inplace=True)

    dim_sources.drop(columns=['text'], inplace=True)

    dim_sources['created_at'] = datetime.now()
    
    return dim_sources


dim_sources = create_dim_sources(raw_texts)

dim_sources.head()

,source_title,source_path,source_id,created_at
0,5185cc6c24e349da754b85730e644adc75e33b4f,data/texts/5185cc6c24e349da754b85730e644adc75e...,f50b6f67-67c4-407b-bc7a-78a31244cd95,2025-04-27 21:32:46.637358
1,445e238d5f61f0b7887a662d52901ce6b78ef638,data/texts/445e238d5f61f0b7887a662d52901ce6b78...,906123b4-690a-47b3-8ba8-de7d7dfb4f0c,2025-04-27 21:32:46.637358
2,c603c3a4182b1ad40a7eee6150257ccf39e4cc93,data/texts/c603c3a4182b1ad40a7eee6150257ccf39e...,21b539e5-8096-4c81-89d2-6d0b610bce1f,2025-04-27 21:32:46.637358
3,79f70053f0e8a6194a348a3bff08eaa129e66e9c,data/texts/79f70053f0e8a6194a348a3bff08eaa129e...,76e9b9ff-0a2a-41d0-bbc4-3c0f12fa0d37,2025-04-27 21:32:46.637358
4,866b09f50a2bd83df19fd323207a0687487cd3d0,data/texts/866b09f50a2bd83df19fd323207a0687487...,3b9c52fc-0e12-4cf6-8d91-c5e3238b6741,2025-04-27 21:32:46.637358

In [8]:
def upload_dim_sources(client, dim_sources):
    table_name = re.sub('-', '', str(uuid.uuid4()))

    query_1 = f"""CREATE TABLE IF NOT EXISTS {table_name} (
        source_id varchar(50) ,
        source_title varchar(100),
        source_path varchar(200),
        created_at timestamp,
        updated_at timestamp,
        deleted_at timestamp,
        PRIMARY KEY(source_id)
    )"""

    client.command(query_1)

    client.insert_df(table=table_name, df=dim_sources)

    query_2 = f"""
    INSERT INTO warehouse.dim_sources 
    SELECT A.* FROM {table_name} A
    LEFT ANTI JOIN warehouse.dim_sources B
    ON A.source_path = B.source_path;
    """

    client.command(query_2)

    client.command(f"DROP TABLE {table_name}")

    return None


upload_dim_sources(client=client, dim_sources=dim_sources)

In [9]:
def tokenize_text(text):
    tokens = TreebankWordTokenizer().tokenize(text)

    tokens = [word for word in tokens if word not in string.punctuation]

    tokens = [word.lower() for word in tokens]

    tokens = [re.sub('\\.$', '', word) for word in tokens]

    return tokens

tokenize_text(raw_texts[0]['text'])[:20]

['you',
 'must',
 'have',
 'a',
 'new',
 'husband',
 'in',
 'your',
 'bed',
 'to',
 'father',
 'children',
 'on',
 'you',
 'three',
 'children',
 'is',
 'quite',
 'sufficient',
 'i']

In [16]:
def create_token_df(raw_inputs):

    token_df = pd.DataFrame().from_records(raw_inputs).loc[:, ['source_path', 'text']]

    token_df['text'] = token_df['text'].apply(tokenize_text)

    token_df = token_df.explode('text')

    return token_df


token_df = create_token_df(raw_texts)

token_df

                                          source_path    text
0   data/texts/5185cc6c24e349da754b85730e644adc75e...     you
0   data/texts/5185cc6c24e349da754b85730e644adc75e...    must
0   data/texts/5185cc6c24e349da754b85730e644adc75e...    have
0   data/texts/5185cc6c24e349da754b85730e644adc75e...       a
0   data/texts/5185cc6c24e349da754b85730e644adc75e...     new
..                                                ...     ...
99  data/texts/a0372ea06988ce2cfe6ce6f59c37b7f5b58...     the
99  data/texts/a0372ea06988ce2cfe6ce6f59c37b7f5b58...  papers
99  data/texts/a0372ea06988ce2cfe6ce6f59c37b7f5b58...    made
99  data/texts/a0372ea06988ce2cfe6ce6f59c37b7f5b58...     out
99  data/texts/a0372ea06988ce2cfe6ce6f59c37b7f5b58...  proper

[92815 rows x 2 columns]

In [11]:
def create_dim_words(token_df):

    dim_words = pd.DataFrame({
        "word_english": token_df.text.unique()
    })

    dim_words['word_id'] = dim_words['word_english'].apply(
        lambda x: str(uuid.uuid4())
    )

    stop_words = set(stopwords.words('english'))

    dim_words['is_stopword'] = dim_words['word_english'].apply(
        lambda x: x in stop_words
    )

    dim_words['created_at'] = datetime.now()

    return dim_words


dim_words = create_dim_words(token_df=token_df)

dim_words.head()

,word_english,word_id,is_stopword,created_at
0,you,a0079288-89c9-41bc-b678-853362d88d66,True,2025-04-27 21:32:48.398674
1,must,f15931a1-0fc6-442e-9a39-bff06a111f06,False,2025-04-27 21:32:48.398674
2,have,beeb1300-1d5e-4ec5-839f-7542dcce8bdd,True,2025-04-27 21:32:48.398674
3,a,06db2690-8911-4bb8-a441-83fef6691c95,True,2025-04-27 21:32:48.398674
4,new,13204a37-d7be-42fb-965c-e45f8207c9b6,False,2025-04-27 21:32:48.398674

In [12]:
def upload_dim_words(client, dim_sources):
    table_name = re.sub('-', '', str(uuid.uuid4()))

    query_1 = f"""CREATE TABLE IF NOT EXISTS {table_name} (
        word_id varchar(50),
        word_english varchar(100),
        is_stopword boolean,
        created_at timestamp,
        updated_at timestamp,
        deleted_at timestamp,
        PRIMARY KEY(word_id)
    )"""

    client.command(query_1)

    client.insert_df(table=table_name, df=dim_sources)

    query_2 = f"""
        INSERT INTO warehouse.dim_words 
        SELECT A.* FROM {table_name} A
        LEFT ANTI JOIN warehouse.dim_words B
        ON A.word_english = B.word_english;
    """

    client.command(query_2)

    client.command(f"DROP TABLE {table_name}")

    return None


upload_dim_words(client=client, dim_sources=dim_words)

In [13]:
def create_word_counts(token_df):

    fact_word_counts = token_df.value_counts().reset_index()

    fact_word_counts.rename(
        columns={'text': 'word_english'},
        inplace=True)

    fact_word_counts['created_at'] = datetime.now()

    fact_word_counts['count_id'] = fact_word_counts['count'].apply(
        lambda x: str(uuid.uuid4())
    )
    
    return fact_word_counts


fact_word_counts = create_word_counts(token_df=token_df)

fact_word_counts.head()

,source_path,word_english,count,created_at,count_id
0,data/texts/d450ed2ca232d0c745d2d9b0a2b9da47549...,the,86,2025-04-27 21:32:50.502496,9797b10f-3588-47d4-b4c0-7aeffe5527d7
1,data/texts/93fc1f2a95a2d7377aaed5823427ab41d1c...,the,82,2025-04-27 21:32:50.502496,05b96264-f6cc-4de5-af03-84bfe5f97a38
2,data/texts/4b357ef3ea1215ba9e99fd28fa25b495a00...,the,82,2025-04-27 21:32:50.502496,f80df3a1-225e-46a9-ab85-3523f3bf2a37
3,data/texts/912c05d9fe7550d3f585fa9ff7150c8e716...,the,80,2025-04-27 21:32:50.502496,73d8e7a8-5382-47d2-9922-2b73be5a9045
4,data/texts/f413dec5868f02d144ed7fce7991c0b53ed...,the,79,2025-04-27 21:32:50.502496,711c3c5e-d161-4691-83b9-f5d00539a2c6

In [15]:
def upload_fact_words_counts(client, fact_word_counts):
    table_name = re.sub('-', '', str(uuid.uuid4()))

    query_1 = f"""CREATE TABLE IF NOT EXISTS {table_name} (
	count_id varchar(50),
	source_path varchar(50),
    word_english varchar(50),
    count int,
	created_at timestamp,
    updated_at timestamp,
	deleted_at timestamp,
    PRIMARY KEY(count_id)
    )"""

    client.command(query_1)

    client.insert_df(table=table_name, df=fact_word_counts)

    query_2 = f"""
        INSERT INTO warehouse.fact_word_counts 
        SELECT 
            count_id,
            B.source_id,
            C.word_id, 
            count,
            A.created_at AS created_at,
            A.updated_at AS updated_At,
            A.deleted_at AS deleted_at    
        FROM {table_name} A
        LEFT JOIN warehouse.dim_sources B
        ON A.source_path = B.source_path
        LEFT JOIN warehouse.dim_words C
        ON A.word_english = C.word_english;
    """

    client.command(query_2)

    client.command(f"DROP TABLE {table_name}")

    client.command('OPTIMIZE TABLE warehouse.fact_word_counts FINAL')

    return None


upload_fact_words_counts(client=client, fact_word_counts=fact_word_counts)

In [137]:
fact_word_counts

,source_path,word_english,count,created_at,count_id
0,data/texts/d450ed2ca232d0c745d2d9b0a2b9da47549...,the,86,2025-04-27 20:24:19.527992,c1155028-e90a-489e-a8d6-0ca7d902ad43
1,data/texts/93fc1f2a95a2d7377aaed5823427ab41d1c...,the,82,2025-04-27 20:24:19.527992,5d055db7-4011-4a1b-a506-52df68b64cb4
2,data/texts/4b357ef3ea1215ba9e99fd28fa25b495a00...,the,82,2025-04-27 20:24:19.527992,bc95664d-a084-4ba7-9ea7-5038bb4cca6c
3,data/texts/912c05d9fe7550d3f585fa9ff7150c8e716...,the,80,2025-04-27 20:24:19.527992,f50589a1-7dda-47ed-9f42-16ce4eb61d6c
4,data/texts/f413dec5868f02d144ed7fce7991c0b53ed...,the,79,2025-04-27 20:24:19.527992,c66b12a0-c07f-420a-8888-ebec80616217
...,...,...,...,...,...
40116,data/texts/04259dc18ce2b1976f7b016c2ad5ecb4104...,an,1,2025-04-27 20:24:19.527992,3dc1e051-9807-4625-8adf-011397442ed0
40117,data/texts/04259dc18ce2b1976f7b016c2ad5ecb4104...,am,1,2025-04-27 20:24:19.527992,0ee8c4c4-6bd8-4169-a019-f7f863237472
40118,data/texts/04259dc18ce2b1976f7b016c2ad5ecb4104...,always,1,2025-04-27 20:24:19.527992,c19ee41e-a66e-40ad-9fdd-a117bc9f0237
40119,data/texts/04259dc18ce2b1976f7b016c2ad5ecb4104...,allegiance,1,2025-04-27 20:24:19.527992,ed7aa31c-6cfd-48e4-ad5f-6a25abd03852
40120,data/texts/04259dc18ce2b1976f7b016c2ad5ecb4104...,again,1,2025-04-27 20:24:19.527992,37832e36-c8b8-43ba-81b8-543ae35ace62